* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em;
  font-family: 'PT Sans', sans-serif;
  color: #2c3e50;
}

h1, h2, h3, h4 {
  font-family: Capriola;
}

a {
  color: #2980b9;
}

.personal-presentation {
  width: 85%;
  margin: 0 auto 3em auto;
  text-align: center;
}

.personal-presentation-photo {
  width: 128px;
}

.personal-presentation-name {
  font-size: 2.25em;
  margin: 0 0 0.25em 0;
}

.personal-presentation-title {
  font-size: 1.25em;
  margin: 0 0 1em 0;
  color: #95a5a6;
}

.personal-presentation-links {
  margin-top: 1em;
}

.personal-presentation-links a {
  text-decoration: none;
}

.content {
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
  clear: both;
}

.content-column {
  width: 50%;
  float: left;
}

.content-column:first-child {
  padding-right: 3em;
}

.content-column:last-child {
  padding-left: 3em;
}

.experience-details {
  margin: 0 0 2.5em 0;
}

.experience-details dt {
  font-weight: bold;
}

.experience-details dd {
  margin-left: 0;
}

.experience-details p {
  margin-top: 0;
}

@media (max-width: 960px) {
  .content-column {
    max-width: 640px;
    width: 90%;
    float: none;
    margin: 0 auto;
    padding: 0 !important;
  }
}