<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    {% feed_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <nav class="site-navbar">
      <a href="/">Home</a>
      <a href="/about">About me</a>
      <a href="/active_worksheet" target="_blank" rel="noopener noreferrer">ActiveWorksheet</a>
      <a href="/scrap_kit" target="_blank" rel="noopener noreferrer">ScrapKit</a>
      <a href="https://cevichejs.com" target="_blank" rel="noopener noreferrer">Ceviche.js</a>
    </nav>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      {% if page.id %}
        <h2 class="project-tagline">{{ page.description }}</h2>
      {% else %}
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <a href="/feed.xml" title="Feed de mi blog" class="icon-link" target="_blank"><!-- Twitter icon by Icons8 -->
          <img src="https://img.icons8.com/color/96/000000/rss.png" width="32" height="32" title="Feed de mi blog">
        </a>
        <a href="http://twitter.com/hpneo" title="Twitter" class="icon-link" target="_blank">
          <!-- Twitter icon by Icons8 -->
          <img src="https://img.icons8.com/color/96/000000/twitter.png" width="32" height="32" title="Twitter">
        </a>
        <a href="https://github.com/hpneo" title="GitHub" class="icon-link" target="_blank">
          <!-- GitHub icon by Icons8 -->
          <img src="https://img.icons8.com/color/96/000000/github.png" width="32" height="32" title="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/gustavo-leon-4607198/" title="LinkedIn" class="icon-link" target="_blank">
          <!-- LinkedIn icon by Icons8 -->
          <img src="https://img.icons8.com/color/96/000000/linkedin.png" width="32" height="32" title="LinkedIn">
        </a>
        <br>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using <a href="https://pages-themes.github.io/cayman/">Cayman</a>.</span>
      </footer>
    </main>
  </body>
</html>
